body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 
}

.Game{
  background-color: white;
  min-width: 280px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  line-height: 0;
  height: 400px;
}

.GameList{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
}

img {
  width: 280px;
  
}

h3 {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.websiteHeader{
  color: white;
  font-size: 80px;
  text-shadow: 2px 2px 30px black;
  margin-bottom: 80px;
}

